[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biscuiteer"]
	path = biscuiteer
	url = https://github.com/trichelab/biscuiteer
[submodule "spiky"]
	path = spiky
	url = https://github.com/trichelab/spiky
